<h1>Tracked events</h1>
<hr style="border-top: 5px double #8c8b8b;"/>
<table>
    <tr>
        <td><input [(ngModel)]="newEvent.trackerName" type="text" placeholder="Tag to Track"></td>
        <td> <h3>&nbsp;&nbsp;if&nbsp;&nbsp;</h3></td>
        <td><input [(ngModel)]="newEvent.valueGreaterThan" type="text" placeholder="Value Greater Than"></td>
    </tr>
</table>
<button (click)="onSave()">Add New Tracker</button>
<hr style="border-top: 5px double #8c8b8b;" />


<p *ngIf="!trackerCollection"><em>Loading...</em></p>
<table class='table' *ngIf="trackerCollection">
    <thead>
        <tr>
            <th>Tracker Name</th>
            <th>Tracked If Value is</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tracker of trackerCollection">
            <td> {{ tracker.trackerName }} </td>
            <td>Greater than {{ tracker.valueGreaterThan }} </td>
        </tr>
    </tbody>
</table>