<h1>Fields <button *ngIf="!isCreateActive" type="button" (click)="showAdd()" class="btn btn-success">Add new</button> </h1>

<div *ngIf="isCreateActive">
    <hr>
    <h3> Create new field </h3>
    <br />
    <label> Enter the Field Name : </label> <input [(ngModel)]="newField.fieldName" placeholder="Field Name">
    <br />
    <button (click)="createField()">Create</button>
    <hr/>
</div>


<table *ngIf="!isCreateActive" class="active table optionsTable table-nonfluid table-hover">
    <tr *ngFor="let field of fields" >
        <td (click)="goToWells(field)" class="table-column-text">{{field.fieldName}}</td>
        <td class="table-column-icons">
            <span class="glyphicon glyphicon-cog"> </span>
            <span (click)="deleteField(field)" class="glyphicon glyphicon-trash deleteIcon"> </span>
        </td>
    </tr>
</table>

