<h1 *ngIf="breadCrumb">
    <span>Assets</span> <label> >></label>
    <span>{{breadCrumb.AssetName}}</span> <label> >></label>
    <span>{{breadCrumb.FieldName}}</span> <label> >></label>
    <span>{{breadCrumb.WellName}}</span>
    <button *ngIf="!isCreateActive" type="button" (click)="showAdd()" class="btn btn-success">Add new</button>
</h1>

<div>
    <hr>
    <h3> Create new Measurement </h3>
    <br />
    <div id="newMeasurement" style="display: table">
        <div style="display: table-row">
            <label style="display:table-cell">Measurement Name</label>
            <input type="text"/>
        </div>
        <div style="display: table-row">
            <label style="display:table-cell">Measurement Description</label>
            <input type="text" />
        </div>
        <div style="display: table-row">
            <label style="display:table-cell">Tag Name</label>
            <select>
                <option *ngFor="let tag of tagNames">{{tag}}</option>
            </select>
        </div>
    </div>
    <button (click)="createMeasurment">Create</button>
    <hr />
</div>

<div *ngIf="!measurements" class="loading">
    <object type="image/svg+xml" style="width: 100px" data="./../../images/balls.svg">
        <label class="label">Loading Data...</label>
    </object>
</div>

<table class="table">
    <tr>
        <th>MeasurementName</th>
        <th>MeasurementTagName</th>
        <th>MeasurementGreaterThan</th>
        <th>MeasurementGreaterThanActive</th>
    </tr>
    <tr *ngFor="let measurement of measurements">
        <td>{{measurement.measurementName}}</td>
        <td>{{measurement.measurementTagName}}</td>
        <td>{{measurement.measurementGreaterThan}}</td>
        <td>{{measurement.measurementGreaterThanActive}}</td>
    </tr>
</table>