<h1 *ngIf="breadCrumb">
    <span>Assets</span> <label> >></label>
    <span>{{breadCrumb.AssetName}}</span> <label> >></label>
    <span>{{breadCrumb.FieldName}}</span> <label> >></label>
    <span>{{breadCrumb.WellName}}</span>
    <button *ngIf="!isCreateActive" type="button" (click)="showAdd()" class="btn btn-success">Add new</button>
</h1>

<div>
    <hr>
    <h3> Create new Measurement </h3>
    <br />
    <div id="newMeasurement" style="display: table">
        <div style="display: table-row">
            <label style="display:table-cell">Measurement Name</label>
            <input [(ngModel)]="newMeasurement.measurementName" style="display:table-cell" type="text" placeholder="Name"/>
        </div>
        <div style="display: table-row">
            <label style="display:table-cell">Measurement Description</label>
            <input [(ngModel)]="newMeasurement.measurementDescription" style="display:table-cell" type="text" placeholder="Description"/>
        </div>
        <div style="display: table-row">
            <label style="display:table-cell">Tag Name</label>
            <select [(ngModel)]="newMeasurement.measurementTagName" style="display:table-cell">
                <option *ngFor="let tag of tagNames">{{tag}}</option>
            </select>
        </div>
        <div style="display: table-row">
            <label style="display: table-cell">Rule</label>
            <select [(ngModel)]="newMeasurement.RuleTypeId" style="display:table-cell">
                <option *ngFor="let rule of ruleTypes" value="{{rule.RuleTypeId}}">{{rule.RuleDescription}}</option>
            </select>
            <input [(ngModel)]="newMeasurement.value" style="display:table-cell" type="number" placeholder="value"/>
        </div>
    </div>
    <button (click)="addMeasurement()">Create</button>
    <hr />
</div>

<div *ngIf="!measurements" class="loading">
    <object type="image/svg+xml" style="width: 100px" data="./../../images/balls.svg">
        <label class="label">Loading Data...</label>
    </object>
</div>

<table class="table">
    <tr>
        <th>Measurement Name</th>
        <th>Tag Name</th>
        <th>Rule Description</th>
        <th>Value</th>
    </tr>
    <tr *ngFor="let measurement of measurements">
        <td>{{measurement.MeasurementName}}</td>
        <td>{{measurement.MeasurementTagName}}</td>
        <td>{{measurement.RuleDescription}}</td>
        <td>{{measurement.Value}}</td>
    </tr>
</table>